---
layout: default
---

<div class="home">

  <h2>Посты</h2>
  <ul class="">
    {% for post in site.posts %}
      <li>

        <h2>
          <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
        <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>

      </li>
    {% endfor %}
  </ul>

  <h2>Вакансии</h2>
  <ul class="">
    {% for post in site.job %}
    <li>

      <h2>
        <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
      </h2>
      <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>

    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
