<!-- Footer -->
<div id="footer-wrapper">
    <section id="footer" class="container">
        <div class="row">
            <!-- Copyright -->
            <div id="copyright" class="col-md-4 col-md-offset-8">
                <ul class="links">
                    <li>&copy; {{ site.title }}. All rights reserved.</li>
                    <li>Design: <a href="http://www.integrity.com.ua/">Integrity Vision developers</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
